extends layouts/default.pug
block title 
    title product-detail 
block main 
    section.section-6   
       .container 
            .section-6__wrap 
                .section-6__image 
                    .section-6__image-main 
                        img(src="assets/images/pro1.jpg")
                    .section-6__image-select 
                        .section-6__image-selec-item 
                            img(src="assets/images/pro10.jpg")
                        .section-6__image-selec-item 
                            img(src="assets/images/pro11.jpg")
                        .section-6__image-selec-item 
                            img(src="assets/images/pro12.jpg")
                        .section-6__image-selec-item 
                            img(src="assets/images/pro13.jpg")
                        .section-6__image-selec-item 
                            img(src="assets/images/pro14.jpg")
                .section-6__content 
                    .breadcumb      
                        nav.breadcumb__wrap    
                            ul  
                                li  
                                    a(hrep="#") Trang chủ
                                li 
                                    a(hrep="#") Chó
                                li      
                                    a(hrep="#") Chó con 
                                li      
                                    a(hrep="#") Shiba Inu Màu Nâu Đỏ
                    .section-6__content-title Shiba Inu Màu Nâu Đỏ
                    .section-6__content-price 12.000.000 VND 
                    .section-6__content-buttons 
                        button.button Liên hệ
                        button.button-outline 
                            img(src="assets/images/Chat_Dots.png") 
                            p Chat với Monito
                    .section-6__content-info
                        table 
                            tr 
                                td.title SKU 
                                td.info #1000078
                            tr 
                                td.title Giống 
                                td.info Cái 
                            tr 
                                td.title Tuổi 
                                td.info 2 tháng 
                            tr 
                                td.title Kích thước
                                td.info Nhó
                            tr 
                                td.title Màu sắc
                                td.info Nâu Đỏ
                            tr 
                                td.title Mô tả ngắn 
                                td.info Giống thuần chủng Shih Tzu. Cấu trúc cơ thể 
                                   | tốt. Với chứng chỉ MKA và Microchip. Cha từ 
                                   | dòng dõi vô địch.
                    .content__share 
                        .content__share-title 
                            img(src="assets/images/Share.svg")
                            p Chia sẻ:
                        .content__share-item 
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-youtube"></i>



                            
                    
                    
                        
                                